
  <div class="row justify-content-center">
    <div class="col-auto">
  <table class="table align-content-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>




      {{#if productsExist}}
        {{#each products}}
        <tr>
          <td>{{this.id}} </th>
          <td>{{this.name}} </td>
          <td>${{this.price}} </td>
          <td><img src="{{this.thumbnail}}" class="product-img"/></td>
        </tr>
        {{/each}}
      {{else}}
      </tbody>
      </table>
        Sin productos
      {{/if}}

</tbody>
</table>
<br>
<br>
<br>
     


